APP_NAME = 'E-LAPKEU'
APP_VERSION = '0.1-dev'

MYSQL_HOST = 'localhost'
MYSQL_USER = 'root'
MYSQL_PASSWORD = 'notSecureChangeMe'
MYSQL_DATABASE = 'elapkeu'

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="R/KQgjp7NAZjDsHp9VcEjw/Jz1lRhhMmpROusphwx4g="